.red{

  color:red;
}

.news img{


  width:100px;

}
.list{

  padding: 10px;
}

.list li{

  line-height: 40px;
}

.title{

  height: 44px;

  line-height: 44px;

  text-align: center;

  background: #000;

  color:#fff;
}

.title imput{

  height: 40px;
}